%li.js-nested-fields
  = f.hidden_field :url, class: "js-image-url"
  = f.hidden_field :source, class: "js-image-source"
  = f.hidden_field :mime_type, class: "js-mime-type"
  = f.hidden_field :_destroy
  = link_to '#', class: "is-remove-fields" do
    = image_tag 'close.png'
