%h1 Listing evidence_batches

%table
  %tr
    %th Email
    %th Phone
    %th Name
    %th
    %th
    %th

  - @evidence_batches.each do |evidence_batch|
    %tr
      %td= evidence_batch.email
      %td= evidence_batch.phone
      %td= evidence_batch.name
      %td= link_to 'Show', evidence_batch
      %td= link_to 'Edit', edit_evidence_batch_path(evidence_batch)
      %td= link_to 'Destroy', evidence_batch, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Evidence batch', new_evidence_batch_path
