#is-image-drop
  %header
    %h1.beta
      Evidence Upload
    %p
      for the Boston Marathon Tragedy

    %h5#total-evidence-count
      = @count
      %strong photos uploaded

  .content
    %section
      %p
        If you were in Boston and near the blast areas either
        before, during, or after the explosions:
        %strong Boston needs your photos and videos!
        %br/
        Email images to the FBI now at
        %a(href="mailto:boston@ic.fbi.gov?Subject=Info from evidenceuploader.com user")
          boston@ic.fbi.gov
        or batch upload them here and we will provide them to law enforcement.

      %p
        All uploaded media will be forwarded to FBI.

    .file-uploader

      = form_for @evidence_batch do |f|

        %section
          %h3
            %span.step 1
            Add your photos

          %p
            Drag and drop images or videos into the box below. Or you can
            %a{onclick: "EvidenceBatches.pickFiles();", href:'#'} pick
            them from your filesystem or social media accounts.

          -# Image landing
          #is-image-landing
            = add_fields_tag f, :evidences

            .progress.progress-striped.progress-danger.active.hide
              .bar#is-image-progress-bar

            %ul
              = f.fields_for :evidences do |builder|
                = render 'evidence_fields', f: builder

        %section
          %h3
            %span.step 2
            Identify yourself

          %p
            Please leave your contact information in case any follow up is
            required. This is strictly optional.

          %table
            %tr
              %td= f.label :name
              %td= f.text_field :name
            %tr
              %td= f.label :email
              %td= f.email_field :email
            %tr
              %td= f.label :phone
              %td= f.text_field :phone

        %section
          %h3
            %span.step 3
            Finished!

        %button.custom-button{type: 'submit'}
          Submit as evidence

        %section.terms
          %p
            %em By uploading you agree that the files and all information you upload belong to you and you are putting them into the public domain. Law enforcement and other parties may use the information you provide, and may contact you if you provide contact information.

          %p
            %em
              evidentupload.org is in no way affiliated with the FBI. This is a
              grassroots effort by the community to assist in gather evidence.


  %footer
    %ul
      %li
        %a(href='mailto:info@evidenceupload.org') Contact Us
      %li
        %a(href='http://www.twitter.com/evidenceupload' target="_blank" )
          @evidenceupload
    %span#made-in-boston
      Made in Boston

    .share
      %a(href="https://twitter.com/share" class="twitter-share-button" data-via="jbaudanza")
        Tweet
      .fb-like(data-href="http://www.evidenceupload.org" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false")
