%p#notice= notice

%p
  %b Email:
  = @evidence_batch.email
%p
  %b Phone:
  = @evidence_batch.phone
%p
  %b Name:
  = @evidence_batch.name

= link_to 'Edit', edit_evidence_batch_path(@evidence_batch)
\|
= link_to 'Back', evidence_batches_path
